.todos-list_item_remove {
	  background: none;
	  border: none;
	  position: absolute;
	  left: 490px;
	  width: 18px;
	  height: 18px;
	  margin: 8px;
	  cursor: pointer;
	  background: url(../../../images/close.png);
}

.todos-list_item_remove:hover {}

