.todos-list__item {
    display: flex;
	padding: 16px;
	max-height: 50px;
}

.todos-list__item:after {
	content: '';
	clear: both;
	display: table;
}


.todos-list__item__ready-marker {
	float: left;
	margin-right: 16px;
}

.todos-list__item__text-w {
	overflow: hidden;
}

.todos-list__item__text{
	width: 100%;
}

.todos-list__item__remove {
	float: right;
	margin-left: 16px;
	visibility: hidden;
}

.todos-list__item:hover {
	background-color: rgba(243, 231, 231, 0.459);
}

.todos-list__item:hover .todos-list__item__remove,
.todos-list__item:focus .todos-list__item__remove{
	visibility: visible;
}

.todos-list__item.__completed .todos-list__item__text {
	text-decoration-line: line-through;
	color: gray;
}
.todos-list__item.__completed .custom-checkbox__visual {
	border-color: #5bc3ca;
}

.todos-list__item.__completed .custom-checkbox__visual .custom-checkbox__visual__icon {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px;
	background: url(../../../images/completed.svg);
}

