.todos-list_item_text-w {
	position: relative;
}

.todos-list_item_text {2
    word-break: break-all;
    line-height: 20px;
	-webkit-appearance: none;
	background: none;
	outline: none;
	border: none;
	overflow: hidden;
	resize: none;
	cursor: pointer;
	position: relative;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-align: left;

	padding-top: 10px;
	height: 15px;
}

